@media(max-width: 700px) {
  .work-item {
    width: 50%;
  }
}

@media(max-width: 425px) {
  .work-item {
    width: 100%;
  }
}

nav {
  margin-top: 10%;
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
  }
}

.copyright {
  text-align: center;
}

